/* 공통 */
.hide {display: none;}
/* 드래그 금지 */
.dragunable {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
/* 공통 끝 */

/* 
    공통 사항
    1.버튼
    2.탭
    3.레이어팝업
    4.
*/

/* 버튼 */
[class*="btn_full"] {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-family: notoKR, sans-serif;
    font-size: 16px;    
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.btn_full01 {
    width: 100%;
    height: 50px;
    background: #eff1f4;
    color: #333b58;
    border-radius: 4px;
}
.btn_full02 {
    width: 100%;
    height: 50px;
    border:1px solid #e7e7e7;
    color: #000;
    font-weight:bold;
    border-radius: 4px;
}
.btn_full03 {
    width: 100%;
    height: 50px;
    background: #3ADEA6;
    color: #ffffff;
    font-weight:bold;
    border-radius: 5px;    
    margin: 0px auto;
}
.btn_full04 {
    width: 100%;
    padding: 5px 0;
    background: #e1fbec;
    border: 1px solid #C6F2D9;
    color: #21C18A;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
}

.btn_full03.type01 {
    background-color: #6f748c;
}
.btn_full03.type02 {
    background-color: #6f748c;
}
.btn_full03.type03 {
    background-color: #635bca;
}
.btn_full03.off {
    background-color: #d0d3d7;
}
.btn_full04 {
    width: 100%;
    padding:5px 0;
    background: #e1fbec;
    border:1px solid #C6F2D9;
    color: #21C18A;
    border-radius:5px;
    font-weight: 300;    
    font-size: 16px;
}
.btn_full05 {
    width: 187px;
    height: 62px;
    margin: 20px auto 50px;
    line-height: 62px;
    color: #fff;
    font-family: notoKR;
    font-size: 18px;
    background: #635bca;
}
.btn_full05:hover {
    background: linear-gradient(to right, #8a39ce, #635bca);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#8a39ce', endColorstr='#635bca');
}

/* 버튼 끝 */
