
@media(max-width: 992px) {
    .product_area .cont .item {
        width: calc(100% / 3 - 10px);
    }
    .product_area .cont .item:nth-of-type(4n) {
        margin-right: 15px;
    }
    .product_area .cont .item:nth-of-type(3n) {
        margin-right: 0;
    }
    .header {
        display: none;
    }
}
@media(max-width: 767px) {
    .product_area .cont .item {
        width: calc(100% / 2 - 7.5px);
    }
    .product_area .cont .item:nth-of-type(4n) {
        margin-right: 0;
    }
    .product_area .cont .item:nth-of-type(3n) {
        margin-right: 15px;
    }
    .product_area .cont .item:nth-of-type(2n) {
        margin-right: 0;
    }
}
@media(max-width: 480px) {
    .product_area .cont .item {
        width: 100%;
        margin-right: 0;
    }
    .product_area .cont .item:nth-of-type(4n) {
        margin-right: 0;
    }
    .product_area .cont .item:nth-of-type(3n) {
        margin-right: 0;
    }
    .product_area .cont .item:nth-of-type(2n) {
        margin-right: 0;
    }
}